<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro de Visitas</title>
</head>

<body>
    <section class="Centro">
        <div class="titulo">Cadastro para Visitas</div>
        <h1>Procura-se Famílias Extraordinárias <br><span>Para um Ensino Além do Tradicional</span></h1>
        
        <div class="logo">
            <img src="image/balao-de-ar-quente-unscreen.gif" alt="balao-um" class="balao-um">
            <img src="image/.svg" alt="">
            <img src="image/balao-de-ar-quente-unscreen.gif" alt="balao-dois" class="balao-dois">
        </div>

        <div class="formulario">
            <form action="" id="form-inputs">
                <div class="container">
                    <label for="NomeAluno">Nome do Aluno</label>
                    <input type="text" id="nomeAluno" placeholder="Aluno">
                    <label for="Responsavel">Nome do Responsável</label>
                    <input type="text" id="nomeResponsavel" placeholder="Responsável">
                </div>
                <div class="container">
                    <label id="numero" for="IdadeAluno">Idade do Aluno</label>
                    <input type="number" id="idadeAluno" placeholder="Idade Aluno">
                    <label id="numero" for="TelefoneResponsavel">Telefone para Contato</label>
                    <input type="text" id="telefoneResponsavel" placeholder="Telefone">    
                </div>
            </form>
        </div>
        <div class="botao">
            <button id="atualizar">Atualizar</button>
        </div>
        <script src="./index.js"> </script>
    </section>
</body>
</html>
